body {
 overflow-x: hidden;
}

/* Navbar */
#nav-top {
    background-color: #2c3e50;
    font-weight: 900;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 0;
}

#nav-top a,
a#brand:hover,
#nav-top button,
#nav-top .fa-bars {
    color: white;
}

#nav-top button {
    background-color:#1abc9c;
    border-radius: 10px;
    border-color: #1abc9c;
}

#nav-top a:hover {
    color: #1abc9c;
    background: none;
}

.navbar-brand {
    font-size: 28px;

}

.navbar-right {
    font-size: 17px;
    padding-right: 50px;
}
/* End of Navbar */
/* Header */
header {
    background-color: #1abc9c;
    padding-top: 150px;
    padding-bottom: 80px;
}

h1 {
    color: white;
    font-weight: 900;
    font-size: 65px;
}

header p {
    font-size: 25px;
    color: white;
}
#avatar {
    max-width: 250px;
}
/* End of Header */
/* Custom divider */
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 100px;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
}

.divider-custom.divider-light .divider-custom-icon {
    color: #fff !important;

}

.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}

.fa-star {
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
/*End of Custom divider */
/* Portfolio */
#portfolio,
#contact {
    padding-top: 25px;
    padding-bottom: 25px;
}

#portfolio h2,
#contact h2 {
    font-size: 50px;
    font-weight: 900;
    color: #2c3e50;
}

#portfolio .fa-star {
    color: #2c3e50;
}

#portfolio .title,
#about .title,
#contact .title {
    padding-bottom: 25px;
}

.portfolio-item {
    cursor: pointer;
    position: relative;
    max-width: 350px;
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden;
}

.portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    opacity: 0;
    background-color:
    rgba(26,188,156,.9);
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.portfolio-item-caption-content {
    color: white;
}

.portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}

.portfolio-item-caption-content i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* End of Portfolio */
/* About */
#about {
    padding-top: 25px;
    padding-bottom: 70px;
    background-color: #1abc9c;
}

#about h2 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
}

#about p,
#about a{
    color: #fff;
}

#about a {
    background: none;
    border-color: #fff;
}
/* End of About */
/* Contact */
.form-group-lg .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 0;

}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
    font-size: 25px;

}
#contact {
    padding-bottom: 50px;
}

#contact textarea {
    margin-bottom: 25px;
}

#contact button {
    padding: 20px;
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    font-size: 20px;
    border-radius: 10px;
}
/* End of Contact */
/* Footer */
#footer {
    background-color: #2c3e50;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#footer h4 {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 900;

}

#footer a {
    color: #1abc9c;
}

#footer a:hover {
    text-decoration: none;
}

a#btn-social-1,
a#btn-social-2,
a#btn-social-3,
a#btn-social-4 {
    color: white;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 12px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

a#btn-social-1:hover,
a#btn-social-2:hover,
a#btn-social-3:hover,
a#btn-social-4:hover{
    color: #000;
    background-color: #fff;
}

#copyright {
    background-color: #1a252f;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    #footer .col-lg-4 {
        padding-bottom: 30px;
    }
}
